Repository sul-dlss/assembly-objectfile, pull requests merged in 2019-08, with the labels that each got.

#7 add 3d content metadata generation
  assembly-objectfile.gemspec
  lib/assembly-objectfile.rb
  lib/assembly-objectfile/content_metadata.rb
  spec/content_metadata_spec.rb
  spec/spec_helper.rb
  spec/test_data/input/someobject.obj
  spec/test_data/input/someobject.ply
Labels: 3d obj, SDR Fall 2019

#20 Change how mimetypes are computed to be sure 3d files get set correctly
  lib/assembly-objectfile/object_fileable.rb
  spec/object_file_spec.rb
  spec/test_data/input/res1_transcript.pdf
Labels: 3d obj

#23 add test coverage and report it to code climate
  .gitignore
  .travis.yml
  assembly-objectfile.gemspec
  spec/spec_helper.rb
Labels: SDR Fall 2019, tech debt

#26 add ruby 2.5.3 to builds
  .travis.yml
  Rakefile
Labels: SDR Fall 2019, tech debt

#29 only obj files need 3d object type
  lib/assembly-objectfile.rb
  spec/content_metadata_spec.rb
Labels: 3d obj, SDR Fall 2019
